body {
    background-color: blanchedalmond;
    margin: 0;
}

.rainbow {
    height: 300px;
    width: 250px;
    
}

.overskrift {
padding-left: 25vw;
background-color: bisque;
margin-block-start: 0em;
margin-block-end: 0em;


}

.Fontene {
    margin: 0;
    height: 5vh;
    background-color: bisque ;
}

.imageCard {
    border: 1px solid black;
    width: 250px;
    display: flex;
    flex-direction: column;
    margin: 8px 4px;
}

.Natur {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}



.Objekt {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.space {
    padding-top: 50px;
}